{% extends "layouts/dashboard.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title_page%}{% trans "Branches" %}{% endblock title_page %}
{% block toolbar_title %}{{ form_title }}{% endblock%}

{% block extra_head %}
    {{ form.media.css }}
{% endblock %}

{% block content %}
<main class="container-xxl">
    <form class="form d-flex flex-column" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="card mb-5 mb-xl-10">
            <div class="card-header border-0">
                <div class="card-title m-0">
                    <h3 class="fw-bold m-0">{{ entity }} {% trans "Information" %}</h3>
                </div>
            </div>

            <div class="card-body border-top p-9">
                <!-- Name -->
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label required fw-semibold fs-6">
                        {{ form.name.label }}
                    </label>
                    <div class="col-lg-8 fv-row">
                        {% render_field form.name class="form-control form-control-lg" %}
                        {% if form.name.errors %}
                            <div class="fv-plugins-message-container invalid-feedback">
                                {{ form.name.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Description -->
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label fw-semibold fs-6">
                        {{ form.description.label }}
                    </label>
                    <div class="col-lg-8 fv-row">
                        {% render_field form.description class="form-control" %}
                        {% if form.description.errors %}
                            <div class="fv-plugins-message-container invalid-feedback">
                                {{ form.description.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!-- SUNAT Code -->
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label required fw-semibold fs-6">
                        {{ form.sunat_code.label }}
                    </label>
                    <div class="col-lg-8 fv-row">
                        {% render_field form.sunat_code class="form-control form-control-lg" placeholder="0001" %}
                        <div class="form-text">{% trans "4-digit establishment code for SUNAT (e.g., 0000, 0001, 0002)" %}</div>
                        {% if form.sunat_code.errors %}
                            <div class="fv-plugins-message-container invalid-feedback">
                                {{ form.sunat_code.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Address -->
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label fw-semibold fs-6">
                        {{ form.address.label }}
                    </label>
                    <div class="col-lg-8 fv-row">
                        {% render_field form.address class="form-control form-control-lg" %}
                        {% if form.address.errors %}
                            <div class="fv-plugins-message-container invalid-feedback">
                                {{ form.address.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Country -->
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label fw-semibold fs-6">
                        {{ form.country.label }}
                    </label>
                    <div class="col-lg-8 fv-row">
                        {% render_field form.country class="form-select form-select-lg" %}
                        {% if form.country.errors %}
                            <div class="fv-plugins-message-container invalid-feedback">
                                {{ form.country.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Region/Department -->
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label fw-semibold fs-6">
                        {{ form.region.label }}
                    </label>
                    <div class="col-lg-8 fv-row">
                        {% render_field form.region class="form-select form-select-lg" %}
                        {% if form.region.errors %}
                            <div class="fv-plugins-message-container invalid-feedback">
                                {{ form.region.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Subregion/Province -->
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label fw-semibold fs-6">
                        {{ form.subregion.label }}
                    </label>
                    <div class="col-lg-8 fv-row">
                        {% render_field form.subregion class="form-select form-select-lg" %}
                        {% if form.subregion.errors %}
                            <div class="fv-plugins-message-container invalid-feedback">
                                {{ form.subregion.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!-- City/District -->
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label fw-semibold fs-6">
                        {{ form.city.label }}
                    </label>
                    <div class="col-lg-8 fv-row">
                        {% render_field form.city class="form-select form-select-lg" %}
                        {% if form.city.errors %}
                            <div class="fv-plugins-message-container invalid-feedback">
                                {{ form.city.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Phone -->
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label fw-semibold fs-6">
                        {{ form.phone.label }}
                    </label>
                    <div class="col-lg-8 fv-row">
                        {% render_field form.phone class="form-control form-control-lg" %}
                        {% if form.phone.errors %}
                            <div class="fv-plugins-message-container invalid-feedback">
                                {{ form.phone.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Email -->
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label fw-semibold fs-6">
                        {{ form.email.label }}
                    </label>
                    <div class="col-lg-8 fv-row">
                        {% render_field form.email class="form-control form-control-lg" %}
                        {% if form.email.errors %}
                            <div class="fv-plugins-message-container invalid-feedback">
                                {{ form.email.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Website -->
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label fw-semibold fs-6">
                        {{ form.website.label }}
                    </label>
                    <div class="col-lg-8 fv-row">
                        {% render_field form.website class="form-control form-control-lg" %}
                        {% if form.website.errors %}
                            <div class="fv-plugins-message-container invalid-feedback">
                                {{ form.website.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="card-footer d-flex justify-content-end py-6 px-9">
                <a href="{{ back_url }}" class="btn btn-light btn-active-light-primary me-2">
                    {% trans "Cancel" %}
                </a>
                <button type="submit" class="btn btn-primary px-6">
                    {% trans "Save" %}
                </button>
            </div>
        </div>
    </form>
</main>
{% endblock content %}

{% block extra_js %}
{{ form.media.js }}
<script>
    $(document).ready(function() {
        // Initialize Select2 for location fields
        $('#id_country, #id_region, #id_subregion, #id_city').select2({
            theme: 'bootstrap-5',
            width: '100%',
            placeholder: '{% trans "Select an option" %}'
        });
    });
</script>
{% endblock extra_js %}
